@font-face {
    font-family: 'Humble';
    src: url('./fonts/Humble.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Megan June';
    src: url('./fonts/Megan_June.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden !important;
}

.navbar {
    font-family: 'Megan June';
    background-color: rgba(163, 237, 255, 0.75) !important;
    
    position: fixed;
    width: 100%;
    z-index: 1;
}

.nav-item a {
    font-size: 20px !important;
    margin: 0px 50px 0px 50px;
}

.nav-link {
    color: #133A68;
}
.nav-link:hover {
    color: grey;
}

.navbar img {
    height: 50px;
    position: relative;
    left: 20px;
}

.navbar-nav {
    text-align: right;
}

.navbar-toggler-icon {
    color: white;
}



.text-middle {
    vertical-align: middle;
}

.text-center {
    text-align: center;
    margin: 0 auto;
}

#landing {
    width: 100% !important;
    background-color: #C4EAF7;
    background-image: url(../images/newpic-overlay.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;

    text-align: center;
    display: block;
    text-shadow: 0px 2px black;

    position: relative;
}

#landing-content {
    position: relative;
    top: 40%;
}

#landing h1 {
    font-family: 'SignPainter';
    font-size: 5em;
    color: white;
}

#landing h2 {
    font-family: 'Megan June';
    font-size: 2em;
    color: white;
}

.learn-more:hover {
    color: white;
    font-family: "Megan June";
    
    text-decoration: none;
    cursor: pointer;
    
}

.learn-more {
    color: white;
    font-family: "Megan June";
    font-weight: bolder;
    text-decoration: none;
    letter-spacing: 2 !important;

    background: none !important;
    border: 4px solid white !important;
    width: 200px;
    border-radius: 5px;
    margin: 50px auto 0 auto !important;
    margin-top: 20px;
    padding: 5px 0px;
    font-size: 1.5em;
}

.home-intro-container img .hidden-lg {
    width: 400px;
}

.index-pics-lg img {
    padding: 0px 20px;
}

.home-intro-container h3 {
    padding: 10px !important;
}

.home-intro-text {
    padding: 20px !important;
    font-size: 18px !important;
}

#goals-container {
    padding: 100px 0px;
}

#goals-img {
    width: 150px;
    height: 150px;
}

#goals-h1 {
    color: #D0021B;
    font-family: "Megan June";
    font-size: 2em;
    text-align: center;
}

#goals-descr {
    color: #133A68;
    font-family: "Poppins";

    font-size: 1em;
    line-height: 5vw;
    text-align: center;

    box-sizing: border-box;
    
}

.about {
    text-align: center;
    background: linear-gradient(#F5DFBF, #FFFFFF);
    width: 60%;
    height: 90%;

    box-sizing: border-box;
    border-radius: 50px;

    margin: 30px auto 30px auto;

    box-shadow: -1px 0px 0px (rgb(0, 0, 0, 50));
    padding: 10px;
}

.about p {
    font-size: 1em;
}

.about img {
    width: 200px !important;
}

#contact-header {
    height: 25vh;
    background-image: url(../images/newpic-overlay.jpg);
}

#about-header {
    height: 25vh;
    background-image: url(../images/newpic-overlay.jpg);
}

#social-media-row {
    width: 400px;
    margin: 0 auto;
}

#social-media-row img {
    max-width: 50px !important;
    text-align: center;
}

.map-container {
    margin: 0 auto;
    z-index: 1;
}

.map-container iframe {
    width: 100%;
}

#form-outer {
    margin: 0 auto !important;
    padding: 0px !important;
}

#mss-contact {
    background: linear-gradient(#FFFFFF, #CCEDF8);
}

/* Credit to W3 Schools */

.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
  }
  
  /* Style the form icons */
  .icon {
    padding: 10px;
    background: #44B2E3;
    color: white;
    min-width: 50px;
    text-align: center;
  }
  
  /* Style the input fields */
  .input-field, select {
    width: 100%;
    padding: 10px;
    outline: none;
  }
  
  .input-field:focus {
    border: 2px solid #44B2E3;
  }

  label {
      text-align: left
  }

  select {
      margin-bottom: 20px;
      height: 40px;
  }

  textarea::placeholder {
      padding-left: 5px;
  }

  .send-button {
      background: #44B2E3;
      margin-top: 20px;
      padding: 10px;
      color: white;
      text-align: center !important;
      margin: 0 auto !important;
      box-shadow: 2px 2px 2px grey;
      width: 50%;
      cursor: pointer;
      font-size: 18px;
  }

  .send-button:after {
    content: "";
    background: #f1f1f1;
    opacity: 0;
    transition: all 0.8s
  }
  
  .send-button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

  .program-prices-outer {
      margin: 20px 50px 20px 50px;
      padding: 20px 0px 30px 0px;
      background: white;
      text-align: center;
      position: relative;
      box-shadow: 2px 2px 5px #d1d1d1;
      
      font-family: "Poppins";

      
  }


  .program-prices-outer img {
      width: 50%;
      
      margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        border-radius: 100%;
       
        
  }

  .policies-main img {
      width: 45%;
  }

  .policies-main {
      padding-bottom: 40px !important;
  }

  .policies-main button {
      font-size: 16px;
  }

  .program-prices-top, .programs-col-sm-1 {
    background: linear-gradient(180deg, #44B2E3 75%, white 0%);
    text-align: center;
    
}

.policies-main .collapse {
    padding-bottom: 20px !important;
}

.programs-row-sm {
    background: white;
    padding: 0px;
    margin: 30px 0px;
}


.card-body {
    width: 75%;
    margin: 0 auto;
    border: 5px solid;
    border-image-source: linear-gradient(180deg, #44B2E3, rgb(137, 214, 247));
  border-image-slice: 1;
  box-shadow: 2px 2px 4px grey;
  text-align: left;
}

.seven-lessons-container button {
    cursor: pointer;
    font-size: 20px;
    border: 4px solid #D0021B;
    padding: 10px 20px;
    border-radius: 15px !important;
    margin: 10px 0px 10px 0px;
    width: 150px;
    margin: 0 auto;

    background: none;
    color: #D0021B;
}



#let-us-know, #our-policies {
    color: #D0021B;
}

#about-makenna .body-top-ocean {
    height: 100%;
}



input {
    border: none;
}


.programs-headers-lg {
    font-family: "Megan June";
    font-size: 1.5em;
    color: #133A68;
}

.send-button {
    font-family: "Megan June";
    letter-spacing: 1.5;
}

.certif-row-sm img {
    width: 50px;
}

.expand {
    border: none;
}

b {
    font-weight: bolder !important;
}



    




  